In [13]:
import pandas as pd
import numpy as np

In [6]:
inputdbf = "BGDAdmin3_ProxTable.csv"
inputpop = "Upazila populations.xlsx"
operpop_sheet = 'Output'

practice_mode = 'yes'
lambder_list = [1000,100,50,25,10,5,2,1,0.5,0.25]

In [8]:
distmatrix = pd.read_csv(inputdbf)
distmatrix.sample(5)

        OBJECTID  IN_FID  NEAR_FID  NEAR_DIST  NEAR_RANK
23471          0      44        58   1.525436        322
139632         0     265       410   1.555214        238
225454         0     428       239   1.333368        323
235669         0     448       491   0.193132         19
10174          0      19        87   1.347291        181

In [10]:
pop_wb_ws = pd.read_excel(inputpop,operpop_sheet)
pop_wb_ws.sample(5)

     IN_FID             NAME  POPULATION
45       51          Anowara      259022
370     407      Demra Thana      226679
50       56        Mirsharai      398716
259     285    Naogaon Sadar      405148
193     216  Jhenaidah Sadar      455932

In [14]:
distmatrix["pop_in"] = distmatrix.IN_FID.replace(pop_wb_ws.set_index("IN_FID").POPULATION)
distmatrix["pop_near"] = distmatrix.NEAR_FID.replace(pop_wb_ws.set_index("IN_FID").POPULATION)

In [15]:
distmatrix.sample(5)

,OBJECTID,IN_FID,NEAR_FID,NEAR_DIST,NEAR_RANK,pop,pop_in,pop_near
105810,0,201,240,0.658535,77,294576,294576,237992
34485,0,65,231,1.373048,293,431352,431352,380107
220778,0,419,75,1.638832,381,596835,596835,111833
236395,0,449,324,1.390365,217,81313,81313,197214
223659,0,425,105,0.624001,105,157316,157316,289406

In [38]:
def market_access(x,lambdar):
    return sum(x.pop_near*np.exp(-lambdar*x.NEAR_DIST))+x.pop_in.iloc[0]

In [41]:
output = pd.DataFrame()
for lamdar in lambder_list:
    output[lamdar] = distmatrix.groupby("IN_FID").apply(lambda x:market_access(x,lamdar))

In [43]:
output.sample(10)

,1000.0,100.0,50.0,25.0,10.0,5.0,2.0,1.0,0.5,0.25
IN_FID,,,,,,,,,,
77,511902.003858,538825.585686,586797.424749,707040.853502,1261964.828449,2755129.131289,10474145.415319,27830885.226288,56494417.926957,8.682123e+07
136,1696029.404073,1809155.207641,2113665.646449,2934099.611543,6392120.317569,12869264.251553,31378198.170702,55930274.729375,84072782.835884,1.073934e+08
475,2056350.000000,2069515.613542,2127768.472851,2287993.738948,3089673.445197,5033765.323486,14510255.371335,34162724.573717,63658722.756079,9.263220e+07
129,2223248.000000,2232149.354723,2295901.577831,2511290.779270,3734654.691888,8003709.370703,26237081.884527,51777426.267023,81120009.450528,1.055545e+08
373,1532006.000000,1532043.444889,1534674.944684,1564702.559524,1839639.737389,2697458.401063,7255309.283488,18958483.300335,43625390.530957,7.509431e+07
473,2104598.000000,2111251.656124,2180046.526067,2477535.036549,3946052.796298,7396995.461204,21657361.916439,45162739.302390,74913807.782318,1.011035e+08
428,1194186.000020,1228818.203341,1368601.617013,1836941.462800,4408416.426431,10464011.783582,30282792.901104,56317332.327604,85085823.026520,1.083043e+08
13,1488799.000010,1534009.625537,1725954.530359,2166326.684451,3664476.312671,7271588.460601,22633087.584835,46507113.046595,76057021.636959,1.018923e+08
243,1492404.011373,1571712.424163,1717251.550638,1935057.061217,2728314.612455,4802777.281265,15431202.738486,36572158.380681,66954673.619762,9.556158e+07
162,2366256.005216,2450984.492048,2737285.456010,3523262.912626,6913914.904217,13307457.969807,31662760.596100,56326444.373752,84595620.007483,1.078513e+08